* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.header {
    width: 100%;
    background-color: #222222;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-logo-form {
    width: 111px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-search-link {
    align-self: flex-end;
}

.header-menu-interface {
    display: flex;
    justify-content: space-between;
    width: 159px;
    align-items: center;
}

.header-checkbox:checked+.header-burger-menu {
    background-color: #FFFFFF;
    display: block;
}

.header-checkbox {
    display: none;
}

.header-burger-menu {
    width: 50px;
    height: 50px;
    background-color: orange;
    position: absolute;
    right: 0;
    top: 75px;
    width: 232px;
    height: 634px;
    box-shadow: 6px 4px 35px 0 rgb(0, 0, 0, 0.21);
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    display: none;
    z-index: 3;
}

.burger-menu-heading {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    color: #000000;
    display: block;
}

.burger-menu-container {
    padding: 32px 0 0 33px;
}

.burger-menu-subtitle-link {
    padding: 24px 0 1px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    text-decoration: none;
    color: #F16D7F;
    display: inline-block;
}

.burger-menu-list {
    list-style-type: none;
    padding: 0 0 0 21.5px;
}

.burger-menu-list-link {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #6F6E6E;
    text-decoration: none;
    padding-top: 11px;
    display: inline-block;
}

.header-logo-link:active {
    color: none;
    text-decoration: none;
}

.main-preview {
    width: 100%;
    height: 764px;
    background-image: url(img/man-preview.png);
    background-repeat: no-repeat;
    background-position: left;
    background-color: #F1E4E6;
    position: relative;
}

.offer-card-mini {
    display: none;
}

.preview-heading {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 57.6px;
    color: #222222;
}

.preview-subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 44.4px;
    color: #222222;
}

.preview-subtitle-active {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 44.4px;
    color: #F16D7F;
}

.main-preview-container-text {
    position: absolute;
    top: 290px;
    left: 55.75%;
    display: inline-block;
}

.main-preview-container-text svg {
    position: absolute;
    left: -24px;
    top: 6px;
}

.offer-cards {
    width: 1140px;
    margin: 65px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer-cards img:last-child {
    margin-top: 30px;
}

.products-title {
    width: 1140px;
    margin: 0 auto;
}

.main-fetured-heading {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin: 96px auto 0 auto;
    text-align: center;
}

.main-fetured-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #9F9F9F;
    margin: 6px auto 0 auto;
    text-align: center;
}

.products-cards {
    width: 1140px;
    margin: 48px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.margin-25 {
    margin-top: 25px;
}

.card {
    width: 360px;
    height: 587px;
    background-color: #F8F8F8;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.card-heading {
    font-weight: 400;
    font-size: 13px;
    line-height: 15.6px;
    color: #000000;
    padding: 24px 0 0 16px;
}

.card-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 16.8px;
    color: #5D5D5D;
    padding: 16px 0 0 16px;
}

.card-price {
    color: #F16D7F;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    padding: 16px 0 0 16px;
}

.card:hover .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 360px;
    height: 420px;
    background-color: #3A3838DB;
    display: none;
}

.card-hover-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    width: 139px;
    height: 44px;
    text-decoration: none;
    box-sizing: border-box;
}

.card-hover-link svg {
    padding-right: 11px;
}

.link-all-products {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #F26376;
    background-color: #FFFFFF;
    padding: 15px 39px;
    border: 1px solid #FF6A6A;
    display: inline-block;
    margin: 48.5px auto 95.5px auto;
}

.link-all-products:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
}

.services {
    width: 100%;
    height: 341px;
    background-color: #222224;
}

.services-container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.service-description {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    margin: 104px 0 0 0;
}

.service-heading {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 23.95px;
    color: #FBFBFB;
    margin-top: 19px;
}

.service-subtitle {
    font-weight: 300;
    font-size: 13.97px;
    line-height: 16.77px;
    color: #FBFBFB;
    text-align: center;
    margin-top: 16px;
}

.subscribe-form-block {
    background-image: url(img/background-img-subscribe-form.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 448px;
}

.subscribe-form-container {
    width: 1140px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.subscribe-img-and-subtitle {
    margin-top: 97px;
}

.subscribe-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 40.13px;
    color: #222224;
    text-align: center;
    margin-top: 150px;
}

.subscribe-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 30.1px;
    text-align: center;
}

.subscribe-form input {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #222224;
    padding: 7px 64px 6px 22px;
    border: none;
    background-color: #E1E1E1;
    border-radius: 25px 0 0 25px;
    box-sizing: border-box;
    width: 256px;
    height: 49px;
}

.subscribe-heading-and-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-form-btn {
    width: 100px;
    height: 49px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border: none;
    background-color: #F16D7F;
    border-radius: 0 25px 25px 0;
}

.service-form-btn:hover {
    background-color: #f16d7fe0;
}

.subscribe-form {
    display: flex;
    margin-top: 32px;
}

.subscribe-form input:placeholder-shown {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #222224;
    font-family: 'Lato', sans-serif;
}

.footer {
    background-color: #222224;
    width: 100%;
    height: 79px;
}

.footer-container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #FBFBFB;
    margin-top: 30px;
}

.social-block {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-block:hover {
    background-color: #F16D7F;
}

.social-block:hover .social-svg path {
    fill: #FFFFFF;
}

.footer-socials-block {
    display: flex;
    width: 148px;
    justify-content: space-between;
    margin-top: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        height: 74px;
    }

    .header-container {
        max-width: 960px;
        margin: 0 32px;
    }

    .main-preview {
        height: 367px;
        background-image: url(img/index-man-mini.png);
    }

    .main-preview-container-text {
        top: 138px;
    }

    .preview-heading {
        font-size: 44px;
        font-weight: 900;
        line-height: 52.8px;
    }

    .preview-subtitle {
        font-weight: 700;
        font-size: 24px;
        line-height: 28.8px;
    }

    .preview-subtitle-active {
        font-weight: 700;
        font-size: 24px;
        line-height: 28.8px;
    }

    .main-preview-container-text svg {
        top: 0;
    }

    .offer-cards {
        max-width: 736px;
    }

    .offer-cards img {
        max-width: 232px;
    }

    .offer-cards img:last-child {
        max-width: 736px;
        margin-top: 20px;
    }

    .main-fetured-heading {
        margin-top: 110px;
    }

    .products-cards {
        max-width: 736px;
        margin-top: 57px;
    }

    .link-all-products {
        margin-top: 33px;
        margin-bottom: 71px;
    }

    .products-title {
        max-width: 736px;
    }

    .margin-25 {
        margin-top: 0;
    }

    .card {
        margin-top: 16px;
    }

    .services {
        height: 610px;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
        width: 360px;
    }

    .service-description {
        margin-top: 48px;
    }

    .service-heading {
        margin-top: 28px;
    }

    .subscribe-form-block {
        height: 693px;
        background-image: url(img/article-img-786tablet.png);
    }

    .subscribe-form-container {
        width: 360px;
        flex-direction: column;
    }

    .subscribe-img-and-subtitle {
        margin-top: 64px;
    }

    .subscribe-form {
        margin-top: 27px;
    }

    .subscribe-heading {
        margin-top: 48px;
    }

    .footer-container {
        width: 704px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .account-header-link {
        display: none;
    }

    .backet-header-link {
        display: none;
    }

    .header-menu-interface {
        width: auto;
    }

    .header-container {
        max-width: 343px;
        margin: 0 16px;
    }

    .main-preview {
        background-image: none;
        height: 363px;
    }

    .preview-heading {
        font-weight: 900;
        font-size: 38px;
        line-height: 45.6px;
    }

    .preview-subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .preview-subtitle-active {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .main-preview-container-text svg {
        height: 61px;
    }

    .main-preview-container-text {
        top: 148px;
        left: 20%;
    }

    .offer-cards {
        max-width: 375px;
        margin-top: 32px;
    }

    .offer-cards img {
        max-width: 343px;
        margin-top: 32px;
        margin-left: 16px;
    }

    .offer-cards img:last-child {
        display: none;
    }

    .offer-card-mini {
        display: inline-block;
    }

    .products-title {
        max-width: 375px;
    }

    .main-fetured-heading {
        margin-top: 64px;
    }

    .products-cards {
        max-width: 375px;
        margin-top: 48px;
    }

    .card {
        margin-left: 8px;
        margin-top: 16px;
        margin-right: 8px;
    }

    .link-all-products {
        margin-top: 41px;
        margin-bottom: 85px;
    }

    .services {
        height: 610px;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
        max-width: 348px;
    }

    .service-description {
        max-width: 348px;
        margin-top: 48px;
    }

    .service-heading {
        margin-top: 27px;
    }

    .service-subtitle {
        margin-top: 15px;
    }

    .subscribe-form-block {
        background-image: url(img/article-img-786tablet.png);
        height: 550px;
    }

    .subscribe-form-container {
        max-width: 343px;
        flex-direction: column;
        align-items: center;
    }

    .subscribe-img-and-subtitle {
        margin-top: 64px;
    }

    .subscribe-heading {
        margin-top: 59px;
    }

    .subscribe-form {
        margin-top: 22px;
    }

    .subscribe-heading {
        margin-top: 48px;
        line-height: 36.77px;
    }

    .subscribe-subtitle {
        font-size: 14px;
        line-height: 21.45px;
    }

    .footer {
        height: 143px;
    }

    .footer-container {
        max-width: 251px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-socials-block {
        margin-top: 43px;
    }

    .footer-subtitle {
        margin-top: 40px;
    }
}